/* @package fstheme


*/
.fs-general-form {
  display: inline-block;
  float: left; }

.fs-profile-preview {
  width: 100px;
  height: 166px;
  border: 2px dashed black;
  padding: 20px;
  text-align: center;
  margin-left: -450px;
  margin-bottom: -450px; }

h1.fs-username,
h2.fs-description {
  font-weight: 100;
  color: #fff; }

h1.fs-username {
  font-size: 24px;
  margin: 0 0 10px; }

h2.fs-description {
  font-size: 13px;
  margin: 0 0 20px; }

.image-container {
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: center; }

.profile-picture {
  width: 122px;
  height: 122px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.fs-profile-preview {
  width: 100px;
  height: 166px;
  border: 2px dashed black;
  padding: 20px;
  text-align: center;
  margin-left: -450px;
  margin-bottom: -450px;
  display: inline-block;
  float: left;
  background-repeat: no-repeat;
  background-size: contain; }

.fs-general-form {
  margin-left: 300px; }

input#joblist {
  width: 300px !important; }

input[id^="major_"] {
  width: 250px !important; }

input[id^="semester_"] {
  width: 100px !important; }

.fs-poster-preview {
  width: 350px;
  height: 200px;
  border: 2px dashed black;
  padding: 20px;
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.fs-panik-preview {
  width: 350px;
  height: 200px;
  border: 2px dashed black;
  padding: 20px;
  text-align: center;
  display: inline-block;
  margin-bottom: 10px; }

.fs-jobs-table td {
  padding-top: 5px;
  padding-bottom: 5px; }

.fs-hours > table > tbody > tr,
.fs-hours > table > tbody > tr > th,
.fs-hours > table > tbody > tr > td {
  border: 1px solid black !important;
  text-align: center; }

.fs-hours > table {
  border-collapse: collapse;
  margin-left: -220px; }

.fs-officehours-days-wrapper {
  float: left; }

.fs-officehours-days {
  padding-top: 10px; }

.fs-officehours-times-wrapper {
  margin-left: 100px;
  margin-top: -200px; }

.delimiter {
  position: absolute;
  left: 50px;
  right: 50px;
  width: auto;
  border-bottom: 1px solid lightgrey;
  margin-top: 20px; }

/*
.linewrapper>label {
    vertical-align: top;
    text-align: left;
    line-height: 1.3;
    font-weight: 600;
    width: 200px;
    display: inline-block;
    color: #23282d;
    text-shadow: none;
    font-size: 14px;
}
*/
/*
.job-wrapper>div {
    padding-top: 20px;
}
*/
